#==========================================================================
# Copyright 2024 IHP PDK Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# SPDX-License-Identifier: Apache-2.0
#==========================================================================

name: Generate KiCAD Models

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  generate_kicad:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Run conversion script
        run: |
          python3 ihp-sg13g2/libs.tech/kicad/scripts/spice_to_kicad.py

      - name: Zip KiCAD models
        run: |
          zip -r sg13g2_stdcell_kicad.zip output_kicad/

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: sg13g2_stdcell_kicad
          path: sg13g2_stdcell_kicad.zip
